#login__all-other-logins {
    text-align: left;
}
#login_all-other-logins-choices {
    padding-left: 10px;
}
.navigation-block .navigation-block-alert .navigation-block-alert-container {
    padding: .75rem 3.5rem .75rem 1rem !important; 
    text-align: center;
}
.navigation-block .navigation-block-alert .navigation-block-alert-container .navigation-block-alert-content button {
    padding: 2px 1px 0 20px;                   
    position: absolute;                   
    right: 1.25rem;         
    top: .75rem !important;
}

/* 
.js-login-commercial-link /* commercial link
.js-login-business-link {
    display:none !important;
}
*/